body {
  margin: 0;
}

table {
  width: 100%;
}

td {
  border: 1px solid;
  padding: 12px 16px;
}

td:first-child {
  width: 20%;
}

td:nth-child(2) {
  width: 60%;
}

td:nth-child(3) {
  width: 20%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: gray;
  position: relative;
}

.bannerLeft .bannerRight {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bannerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.5rem;
  pointer-events: none;
}

.tableTag {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tableTag div div {
  display: inline-flex;
  padding: 3px;
  background-color: #f0f0f0;
  border-radius: 12px;
  border: 2px solid black;
  margin-right: 2px;
}
